body {
    font-family: sans-serif;
    background-color: #fff;
    padding-top: 25px;
}
.img-medium {
    height: 200px;
    width: 180px;
    padding: 25px 25px 25px 25px;
}
.submit-first{
	padding: 10px 50px;
	margin: 5px;
	font-size: 25px;
	color: purple;
	background-color: #fff;
	border-radius: 5px;
	border : 1px solid purple;
}
.submit-first:hover{
	background-color: purple;
	color: #fff;
}
.signup{
	padding: 10px 50px;
	margin: 5px;
	font-size: 25px;
	color: blue;
	background-color: #fff;
	border : 1px solid blue;
	border-radius: 5px;
}
.signup:hover{
	background-color: blue;
	color: #fff;
}
.suggetion [type="text"],.suggetion [type="email"],.suggetion [type="textarea"]{
    margin: 0px 25px;
    width: 50%;
    padding:10px 10px;
    color: #737171;
    background-color: #fff;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.header{
	font-weight: bold;
	font-size: 100px;
	margin: 50px;
	color: #fff;
}
.signup-body{
	background-color: grey;
}